body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    height: 550px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    gap: 80px;
}

.confirmation_number {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.confirm_img {
    width: 75%;
    height: auto;
    margin-top: 100px;    
    padding-right: 30px;
}

h2 {
    color: #392d6e;
}

.order_payment_details {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    width: 100%;
    text-align: left;
}

.order_detail {
    border: 1px solid #e8e8e8;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.order_summary {
    margin-bottom: 10px;
}

.order_item {
    display: flex;
    justify-content: space-between;
    color: #8f92a1;
    font-size: 14px;
    margin-bottom: 10px;
}

.detail_item_name {
    font-size: 16px;
    text-align: start;
    font-weight: bold;
    color: #000000;
    width: 70%;
}

.item_price {
    font-size: 16px;
    text-align: end;
    font-weight: bold;
    color: #000000;
    width: 30%;
}

.divider_line {
    border-top: 1px solid #e8e8e8;
    margin: 10px 0;
}

.order_total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background: #008050;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    align-self: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .confirmation_number,
    .order_payment_details {
        width: 100%;
    }

    .confirm_img {
        width: 350px;
        margin-top: 10px;
    }

    .order_detail {
        width: 100%;
        margin: 5px 0;
    }

    .order_item {
        font-size: 12px;
    }

    .detail_item_name {
        font-size: 14px;
    }

    .item_price {
        font-size: 14px;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .container {
        gap: 35px;
    }
    .confirm_img {
        width: 350px;
        padding-right: 30px;
    }

    .container {
        padding: 10px;
    }

    .order_detail {
        padding: 10px;
        width: 100%;
    }

    .order_item {
        font-size: 12px;
    }

    .detail_item_name {
        font-size: 12px;
    }

    .item_price {
        font-size: 12px;
    }

    .order_total {
        font-size: 14px;
    }
}

/* By Default, footer1 images are shown and footer2 images are hidden */
.footer1 {
    width: 100%;
    display: block;
}

.footer2 {
    display: none;
    width: 100%;
}

@media (max-width: 1368px) {
    .footer1 {
        display: block;
    }

    .footer2 {
        display: none;
    }
}

@media (max-width: 390px) {
    .footer1 {
        display: none;
    }

    .footer2 {
        display: block;
    }
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    background-color: #392d6e;
    color: #ffffff;
    height: 50px;
    gap: 10px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

@media (max-width: 390px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .popup222 {
        display: none;
        position: absolute;
        background-color: #ffffff;
        color: #000000;
        width: 150px;
        border-radius: 20px;
        z-index: 1000;
        margin-top: 7px;
        margin-left: -10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

    .popup222 a {
        margin-left: 0;
        padding: 10px 15px;
        display: block;
        text-decoration: none;
        color: #000000;
        border-bottom: 1px solid #c0c0c0;
        text-align: center;
    }
}

.menu a,
.actions a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.2em;
    position: relative;
}

.actions .signin {
    margin-right: 10px;
}

.choose-recipes {
    padding: 8px 16px;
    background-color: #4CAF50;
    border-radius: 20px;
    color: #ffffff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: 150px;
    border-radius: 20px;
    z-index: 1000;
    margin-top: 7px;
    margin-left: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.dropdown-menu a {
    margin-left: 0;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.arrow {
    width: 20px;
    height: auto;
}

@media (max-width: 390px) {
    .atlaslogo {
        width: 175px;
    }
}

.body-no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: 180px;
    max-width: 600px;
    background-color: white;
    color: black;
    width: 460px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 20px;
}

.pop-card {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 20px;
    background: white;
    border-radius: 20px;
}

.pop-card img {
    width: 40%;
    height: auto;
}

.pop-info {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.pop-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.pop-info button {
    padding: 5px 5px;
    background-color: #008050;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

.overlay {
    display: none;
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

@media (max-width: 390px) {
    .popup {
        margin-left: 0;
        left: 60px;
        width: 80%;
        max-width: none;
        padding: 5px;
    }

    .pop-card {
        width: 90%;
    }

    .pop-card img {
        width: 45%;
    }

    .pop-info {
        text-align: center;
    }
}
