html, body {
  margin: 0;
  margin-right: 0px;
  padding: 0;
  
  overflow-x: hidden;  /* 隐藏水平方向的溢出内容 */
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;  /* 包括边框和内边距在内的宽度计算 */
}


/* 顶部导航栏的东西 */
.topbar2 {
    border: 0 solid;
    margin: 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  /* 顶部导航栏包含的东西 */
  .topbar3 {
    border: 0 solid;
    margin: 0;
    display: none;
    margin-right: 12px;
  }
  
  @media screen and (min-width: 640px) {
    /* topbar3 - 640px */
    .topbar3 {
      display: block;
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* topbar3 - 1280px */
    .topbar3 {
      margin-right: 16px;
    }
  }
  
  /* 登陆的按钮 */
  .sign-in {
    display: inline-block;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    cursor: pointer;
    background: transparent;
    border-color: #fff;
    color: #fff;
    padding: 2px 12px;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 500;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .sign-in:disabled {
    cursor: not-allowed;
  }
  
  .sign-in:hover {
    background: #fff;
    border-color: #fff;
    color: #392d6e;
  }
  
  .sign-in:disabled {
    background: #ebebed;
    border-color: #ebebed;
    color: #b9b9b9;
  }
  
  @media screen and (min-width: 1280px) {
    /* sign-in - 1280px */
    .sign-in {
      padding: 10px 16px;
      font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      font-weight: 500;
      -webkit-letter-spacing: normal;
      -moz-letter-spacing: normal;
      -ms-letter-spacing: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
    }
  }


/* sign-up */
.sign-up {
  display: inline-block;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  cursor: pointer;
  background: #008050;
  border-color: #008050;
  color: #fff;
  padding: 2px 12px;
  font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  font-weight: 500;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sign-up:disabled {
  cursor: not-allowed;
}

.sign-up:hover {
  background: #54a888;
  border-color: #54a888;
  color: #fff;
}

.sign-up:disabled {
  background: #a6d2c1;
  border-color: #a6d2c1;
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .sign-up {
    padding: 10px 16px;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 500;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
  }
}

/* sign-up2 */
.sign-up2 {
  border: 0 solid;
  margin: 0;
  display: inline;
}

@media screen and (min-width: 640px) {
  /* sign-up2 - 640px */
  .sign-up2 {
    display: none;
  }
}

/* Choose-recipes */
.Choose-recipes {
  border: 0 solid;
  margin: 0;
  display: none;
}

@media screen and (min-width: 640px) {
  /* Choose-recipes - 640px */
  .Choose-recipes {
    display: inline;
  }
}


/* 文字部分标题 */
.title1 {
  border: 0 solid;
  margin: 0;
  margin-bottom: 16px;
}

.title2 {
  border: 0 solid;
  margin: 0;
  background-color: #392d6e;
}

.title3 {
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

  .title-words1 {
    border: 0 solid;
    margin-top: 0;
    text-align: center;
    color: #fff;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-right: 36px;
  }
  
  @media screen and (min-width: 1536px) {
    .title-words1 {
      padding-bottom: 36px;
    }
  }
  
  .title-words2 {
    border: 0 solid;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: Grenette, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 400;
    letter-spacing: -0.3px;
    text-transform: none;
    font-size: 26px;
    line-height: 36px;
  }
  
  @media screen and (max-width: 390px) {
    .title-words2 {
      font-weight: 100;
      font-size: 20px;
      letter-spacing: -0.4px;
      line-height: 40px;
      padding-bottom: 2px;
    }
  }
  
  @media screen and (min-width: 1368px) {
    .title-words2 {
      font-family: Grenette, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      font-weight: 400;
      letter-spacing: -0.6px;
      text-transform: none;
      font-size: 32px;
      line-height: 44px;
    }
  }
  
  @media screen and (min-width: 640px) {
    /* title-words2 - 640px */
    .title-words2 {
      font-size: 34px;
      -webkit-letter-spacing: -0.7px;
      -moz-letter-spacing: -0.7px;
      -ms-letter-spacing: -0.7px;
      letter-spacing: -0.7px;
      line-height: 48px;
    }
  }
    
/* 标题的文字部分！ */
.title-words3 {
    border: 0 solid;
    margin: 0;
    color: inherit;
    font-family: Grenette, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 26px;
    line-height: 36px;
  }
  
  
  @media screen and (max-width: 1368px) {
    .title-words3 {
      font-family: Grenette, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      font-weight: 400;
      letter-spacing: -0.6px;
      text-transform: none;
      font-size: 25px;
      line-height: 44px;
    }
  }

  @media screen and (max-width: 400px) {
    .title-words3 {
      font-size: 18px;
      letter-spacing: -0.4px;
      line-height: 18px;
    }
  }
  
  /* 下面的一小句话 */
  .words-uk {
    border: 0 solid;
    margin: 0;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 300;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 22px;
  }
  
  /* 菠萝元素 */
  .pineapple11 {
    border: 0 solid;
    margin-top: 20px;
    position: absolute;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    z-index: 3;
    display: none;
    right: 20px;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    pointer-events: none;
    width: 93px;
    height: 108px;
  }
  
  @media screen and (min-width: 640px) {
    /* pineapple11 - 640px */
    .pineapple11 {
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
      display: block;
      top: -16px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* pineapple11 - 1024px */
    .pineapple11 {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      right: 50px;
      top: 0px;
    }
  }

/* idk what is this */
.idk1 {
    border: 0 solid;
    margin: 0;
    position: relative;
  }
  
  .idk2 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 93%;
    background-color: #392d6e;
    z-index: 1;
  }
  
  @media screen and (min-width: 640px) {
    /* idk2 - 640px */
    .idk2 {
      height: 50%;
    }
  }
  
  .idk3 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 7%;
    bottom: 0px;
    background-color: #fcf9ed;
    z-index: 2;
  }
  
  @media screen and (min-width: 640px) {
    /* idk3 - 640px */
    .idk3 {
      height: 50%;
    }
  }

  .idk4 {
    border: 0 solid;
    margin: 0;
    z-index: 2;
    width: 100%;
    top: 91%;
    position: absolute;
  }
  
  @media screen and (min-width: 640px) {
    /* idk4 - 640px */
    .idk4 {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  
  .idk5 {
    border: 0 solid;
    margin: 0;
    color: #fcf9ed;
    display: block;
  }
  
  /* 中间的照片们 */
  .imgleft-1{
    border: 0 solid;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1236px;
    position: relative;
  }
  
  .imgleft-2 {
    border: 0 solid;
    margin: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0px;
    margin: 0 auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    position: relative;
    min-height: 230px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media screen and (min-width: 640px) {
    /*  imgleft-2 - 640px */
    .imgleft-2 {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-bottom: 40px;
      min-height: 285px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /*  imgleft-2 - 1024px */
    .imgleft-2 {
      min-height: 285px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* imgleft-2 - 1280px */
    .imgleft-2 {
      min-height: 365px;
    }
  }

.imgleft-3 {
    border: 0 solid;
    margin: 0;
    cursor: pointer;
    max-width: 230px;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 2;
    -webkit-transition: -webkit-transform ease-in-out 0.1s;
    -webkit-transition: transform ease-in-out 0.1s;
    transition: transform ease-in-out 0.1s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (min-width: 640px) {
    /* imgleft-3  - 640px */
    .imgleft-3  {
      max-width: 285px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* imgleft-3  - 1024px */
    .imgleft-3  {
      max-width: 285px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* imgleft-3  - 1280px */
    .imgleft-3  {
      max-width: 365px;
    }
  }
  
  .imgleft-3 :hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  /* imgleft-1p */
  .imgleft-1p {
    border: 0 solid;
    margin: 0;
    pointer-events: none;
    position: absolute;
    bottom: unset;
    top: 10%;
    left: -10px;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  
  @media screen and (min-width: 640px) {
    /* imgleft-1p - 640px */
    .imgleft-1p {
      bottom: -30px;
      top: unset;
      left: 50%;
      -webkit-transform: translateX(-50%) rotate(0deg);
      -ms-transform: translateX(-50%) rotate(0deg);
      transform: translateX(-50%) rotate(0deg);
    }
  }
  
  /* Crispy-- imgmiddle-1 */
  .imgmiddle-1 {
    border: 0 solid;
    margin: 0;
    cursor: pointer;
    max-width: 230px;
    position: relative;
    margin-top: -100px;
    z-index: 3;
    -webkit-transition: -webkit-transform ease-in-out 0.1s;
    -webkit-transition: transform ease-in-out 0.1s;
    transition: transform ease-in-out 0.1s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (min-width: 640px) {
    /* imgmiddle-1 - 640px */
    .imgmiddle-1 {
      max-width: 285px;
      margin-left: -100px;
      margin-top: 0px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* imgmiddle-1 - 1024px */
    .imgmiddle-1 {
      max-width: 285px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* imgmiddle-1 - 1280px */
    .imgmiddle-1 {
      max-width: 365px;
      margin-left: -150px;
    }
  }
  
  .imgmiddle-1:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .imgmiddle-2p {
    border: 0 solid;
    margin: 0;
    pointer-events: none;
    position: absolute;
    bottom: unset;
    top: 20%;
    left: -15px;
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  
  @media screen and (min-width: 640px) {
    /* imgmiddle-2p - 640px */
    .imgmiddle-2p {
      bottom: -30px;
      top: unset;
      left: 50%;
      -webkit-transform: translateX(-50%) rotate(0deg);
      -ms-transform: translateX(-50%) rotate(0deg);
      transform: translateX(-50%) rotate(0deg);
    }
  }
  
  /* image top right */
  .imgright {
    border: 0 solid;
    margin: 0;
    cursor: pointer;
    max-width: 230px;
    position: relative;
    margin-top: -100px;
    z-index: 4;
    -webkit-transition: -webkit-transform ease-in-out 0.1s;
    -webkit-transition: transform ease-in-out 0.1s;
    transition: transform ease-in-out 0.1s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media screen and (min-width: 640px) {
    /* imgright - 640px */
    .imgright {
      max-width: 285px;
      margin-left: -100px;
      margin-top: 0px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* imgright - 1024px */
    .imgright {
      max-width: 285px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* imgright - 1280px */
    .imgright {
      max-width: 365px;
      margin-left: -150px;
    }
  }
  
  .imgright:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  /* imgright-4p */
.imgright-4p {
    border: 0 solid;
    margin: 0;
    pointer-events: none;
    position: absolute;
    bottom: unset;
    left: -15px;
    top: 16%;
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  
  @media screen and (min-width: 640px) {
    /* imgright-4p - 640px */
    .imgright-4p {
      bottom: -30px;
      left: 50%;
      top: unset;
      -webkit-transform: translateX(-50%) rotate(0deg);
      -ms-transform: translateX(-50%) rotate(0deg);
      transform: translateX(-50%) rotate(0deg);
    }
  }
  
  /* part of img (不确定 */
  .imgpart {
    border: 0 solid;
    margin: 0;
    position: absolute;
    bottom: -44px;
    left: 55%;
    width: 120px;
    display: block;
    z-index: 3;
  }
  
  @media screen and (min-width: 640px) {
    /* imgpart - 640px */
    .imgpart {
      bottom: 95%;
      left: 85%;
      width: 144px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* imgpart - 1024px */
    .imgpart {
      bottom: 90%;
      left: 90%;
    }
  }
  
  /* all elements- homepage */
  .element-vege1 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    transform: scale(0.6);
    z-index: 1;
    display: none;
    left: 10px;
    top: -24px;
    pointer-events: none;
    width: 226px;
    height: 262px;
  }
  
  @media screen and (min-width: 640px) {
    .element-vege1  {
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
      display: block;
      top: -36px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* element-vege1  - 1024px */
    .element-vege1  {
      -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
      transform: scale(.8);
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* element-vege1  - 1280px */
    .element-vege1  {
      top: -8px;
    }
  }
  

.homepage-b8-words {
    border: 0 solid;
    margin: 0;
    color: inherit;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 500;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media screen and (min-width: 640px) {
    /* homepage-b8-words - 640px */
    .homepage-b8-words {
      font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      font-weight: 500;
      -webkit-letter-spacing: normal;
      -moz-letter-spacing: normal;
      -ms-letter-spacing: normal;
      letter-spacing: normal;
      text-transform: none;
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  .homepage-b9 {
    border: 0 solid;
    margin: 0;
    margin-top: 12px;
  }
  
  .homepage-b9-words {
    display: inline-block;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    cursor: pointer;
    background: #008050;
    border-color: #008050;
    color: #fff;
    padding: 10px 16px;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 500;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .homepage-b9-words:disabled {
    cursor: not-allowed;
  }
  
  .homepage-b9-words:hover {
    background: #54a888;
    border-color: #54a888;
    color: #fff;
  }
  
  .homepage-b9-words:disabled {
    background: #a6d2c1;
    border-color: #a6d2c1;
    color: #fff;
  }


.homepage-b10-ad {
    border: 0 solid;
    margin: 0;
    margin-top: 8px;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 300;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 22px;
  }
  
  /* idk */
  .idk6 {
    border: 0 solid;
    margin: 0;
    background-color: #fff;
  }
  
  .idk7 {
    border: 0 solid;
    margin: 0;
    max-height: 65px;
    display: block;
    width: 100%;
    color: #fcf9ed;
    position: relative;
    bottom: 1px;
  }
  
  .idk8 {
    border: 0 solid;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
  }
  
  .idk9 {
    border: 0 solid;
    margin: 0;
    position: relative;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }

.grass22 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    left: -16px;
    bottom: -56px;
    transform: rotate(-40deg) scale(0.6);
    pointer-events: none;
    width: 130px;
    height: auto;
  }
  
  @media screen and (max-width:1368px) {
    .grass22 {
      margin-left: 100px;
      transform: rotate(-40deg) scale(1);
    }
  }

  @media screen and (max-width:390px) {
    .grass22 {
      transform: scale(0.5);
      margin-left: 30px;
    }
  }


  /* homepage-bottom1 */
.homepage-bottom1 {
    border: 0 solid;
    margin: 0;
    padding-top: 16px;
    background-color: #fcf9ed;
  }
  
  .homepage-bottom2 {
    border: 0 solid;
    margin: 0;
    position: relative;
    z-index: auto;
  }
  
  .homepage-bottom3 {
    border: 0 solid;
    margin: 0;
    background-color: #fcf9ed;
    padding-top: 32px;
    padding-bottom: 0px;
  }

  @media screen and (min-width:390px) {
    .homepage-bottom3 {
      padding-top: 0px;
      padding-bottom: 1px;
    }
  }
  
  .homepage-b4 {
    border: 0 solid;
    margin: 0;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .homepage-b5 {
    border: 0 solid;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  @media screen and (max-width:390px) {
    .homepage-b5 {
      padding-top: 0px;
      padding-left: 0px;
    }
  }
  
  .homepage-b6 {
    border: 0 solid;
    margin: 0;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 500;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media screen and (max-width:390px) {
    .homepage-b6 {
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  .homepage-b7-words {
    border: 0 solid;
    margin: 0;
    color: #68a25b;
    font-family: Moderat, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-weight: 500;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    font-size: 20px;
    line-height: 28px;
  }
  
  @media screen and (min-width:640px) {
    .homepage-b7-words {
      font-size: 22px;
      line-height: 32px;
    }
  }

/* element!! */
.element-pineapple3 {
    border: 0 solid;
    margin-left: 90px;
    margin-top: 50px;
    position: absolute;
    z-index: 3;
    display: none;
    pointer-events: none;
    width: 133px;
    height: 154px;
  }
  
  @media screen and (min-width:1024px) {
    .element-pineapple3 {
      -webkit-transform: scale(.8) rotate(24deg);
      -ms-transform: scale(.8) rotate(24deg);
      transform: scale(.8) rotate(24deg);
      display: block;
      left: -12px;
      top: 48px;
    }
  }
  
  @media screen and (min-width:1280px) {
    .element-pineapple3 {
      top: 92px;
    }
  }
  
  .element-vege2 {
    border: 0 solid;
    margin-right: 200px;
    margin-top: 200px;
    position: absolute;
    z-index: 4;
    bottom: 180px;
    right: -86px;
    pointer-events: none;
    width: 163px;
    height: 189px;
    transform: rotate(-85deg) scale(0.8) scaleX(-1);

  }
  

  @media screen and (max-width:1368px) {
    .element-vege2 {
      margin-right: 120px;
    }
  }

  @media screen and (max-width:390px) {
    .element-vege2 {
      transform:scale(0.5);
      margin-right: 15px;
      margin-bottom: -160px;
    }
  }

  
  .element-onion1 {
    border: 0 solid;
    margin-right: 200px;
    margin-top: 210px;
    position: absolute;
    transform: scale(0.6);
    z-index: 3;
    bottom: 160px;
    right: 5px;
    pointer-events: none;
    width: 113px;
    height: 131px;
  }
  
  @media screen and (max-width:1368px) {
    .element-onion1 {
     margin-right: 120px;
     transform: scale(1);
    }
}

@media screen and (max-width:390px) {
    .element-onion1 {
    width: 30%;
    height: auto;
    margin-right: -40px;
    bottom: -10px;
    transform: scale(0.6); 
    }
}




  .homepage-part2-words {
        color: #392D60; /* 深紫色 */
        font-family: '24px Grenette, system-ui'; /* 字体及备选字体 */
        font-size: 24px; /* 字体大小 */
        font-weight: bold; /* 字体加粗 */
        line-height: 1.2; /* 行高 */
        margin-top: 50px;
        padding: 0px 36px; /* 内边距 */
        text-align: center;
    }

    @media screen and (max-width:390px) {
      .homepage-part2-words  {
        font-size: 18px; /* 字体大小 */
      }
  }
  
    
  .homepage-part2-image {
    margin-top: 50px;
    text-align: center;
}

.homepage-part2-image1 {
    width: 100%; /* 让图片在容器内自动调整大小 */
    height: auto; /* 保持图片的宽高比 */
}

@media screen and (max-width: 390px) {
    .homepage-part2-image {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1368px) {
  .homepage-part2-image1 {
      width: 50%;
  }
}

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #392d6e;
        color: #ffffff;
        height: 50px;
      }

    .menu-icon {
      display: none; /* Initially hidden on larger screens */
      font-size: 30px;
      cursor: pointer;
      color: white;
  }
  
  @media (max-width: 390px) {
      .menu {
          display: none; /* Hide other menu options on small screens */
      }
  
      .menu-icon {
          display: block; /* Show the hamburger menu icon on small screens */
      }
  
      .popup222 {
          display: none; /* 默认不显示，点击后显示 */
          position: absolute;
          background-color: white;
          color: black;
          width: 150px;
          border-radius: 20px;
          z-index: 1000;
          margin-top: 7px; /* 位置调整为紧贴链接下方 */
          margin-left: -10px; /* 让下拉菜单左对齐父链接 */
          box-shadow: 0 4px 8px rgba(0,0,0,0.8);  
      }

      .popup222 a{
        margin-left: 0%;
    padding: 10px 15px;
    display: block; /* 让链接填充整个容器宽度 */
    text-decoration: none;
    color: black; /* 文本颜色 */
    border-bottom: 1px solid #ccc;
    text-align: center; /* 居中所有文本 */
      }
  }
    
    .menu a,
    .actions a {
        color: white;
        text-decoration: none;
        margin-left: 30px;
        font-size: 1.2em;
        position: relative; /* Needed for tooltip positioning */
    }
    
    .actions .signin {
        margin-right: 10px;
    }
    
    .choose-recipes {
        padding: 8px 16px;
        background-color: #4CAF50;
        border-radius: 20px;
        color: white;
    }
    
    .dropdown-menu {
      display: none; /* 默认不显示，点击后显示 */
      position: absolute;
      background-color: white;
      color: black;
      width: 150px;
      border-radius: 20px;
      z-index: 1000;
      margin-top: 7px; /* 位置调整为紧贴链接下方 */
      margin-left: 15px; /* 让下拉菜单左对齐父链接 */
      box-shadow: 0 4px 8px rgba(0,0,0,0.8);
      
  }
  
  .dropdown-menu a {
    margin-left: 0%;
    padding: 10px 15px;
    display: block; /* 让链接填充整个容器宽度 */
    text-decoration: none;
    color: black; /* 文本颜色 */
    border-bottom: 1px solid #ccc;
    text-align: center; /* 居中所有文本 */
  }
  
  .dropdown-menu a:hover {
      background-color: #f1f1f1; /* 鼠标悬停时的背景色 */
  }
  
  .arrow{
    width:20px;
    height: auto;
  }

  

.category {
    display: block; /* Makes each category appear on a new line */
    padding: 5px 0; /* Adds some vertical padding */
}

.menu a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* cards!! */
.cards-container {
    display: flex; /* 设置 Flexbox */
    flex-wrap: wrap; /* 允许元素换行 */
    gap: 8px; /* 设置元素间距 */
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px; /* 容器内边距 */
    justify-content: space-around; /* 在项目之间平均分配剩余空间 */
}

.card {
    flex: 1 1 200px; /* 每个卡片至少200px宽，但可以增长 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 5px; /* 增加卡片间隔 */
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease;
    margin-bottom: 70px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    padding: 18px;
    text-align: left;
}

.info h3 {
    margin-top: 0;
    color: #392d6e;
    font-size: 1.4rem;
}

.info p {
    color: #392d6e;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #008050;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #a6d2c1;
}

/* 媒体查询部分 */
@media (max-width: 768px) {
    .cards-container {
        justify-content: space-around; /* 确保在小屏幕上两列均匀分布 */
    }
    .card {
        flex: 1 1 46%; /* 在较小屏幕上使每个卡片占据近一半宽度 */
    }
}

@media (min-width: 769px) {
    .cards-container {
        justify-content: space-between; /* 确保在较大屏幕上四个卡片均匀分布 */
    }
    .card {
        flex: 1 1 22%; /* 在较大屏幕上使每个卡片占据四分之一宽度 */
    }
}


.responsive-img {
    width: 100%;
    height: auto;
}

@media (max-width: 390px) {
    .responsive-img {
        width: 70%;
      
    }
}

@media (max-width: 390px) {
  .responsive1person{
      width: 12%;
      margin-top: 15px;
      margin-left: 55px;
  }
}

@media (max-width: 390px) {
  .responsive2person{
      width: 20%;
      margin-top: 8px;
      margin-left: 55px;
  }
}

@media (max-width: 390px) {
  .responsive4person{
      width: 24%;
      margin-top: 10px;
      margin-left: 55px;
  }
}





@media screen and (max-width: 390px) {
    .imgleft-3,
    .imgmiddle-1,
    .imgright {
        margin-left: auto;
        margin-right: auto;
    }

    .imgleft-2,
    .imgleft-3,
    .imgmiddle-1,
    .imgright {
        width: 90%;
        max-width: 90%;
    }
}

/* 啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊吗*/

.filter-item {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer; /* 提示用户可以点击 */
}

.filter-item i.fa {
  margin: 0 5px;
}

.filter-item span {
  margin-right: 5px;
}

.dropdown-menu11 {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  margin-top: 10px;
  padding: 5px 0;
  width: 150px; /* 根据需要调整 */
  z-index: 1000;
  border-radius: 20px;
}

.dropdown-menu11 a {
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ccc;
  text-align: center; /* 居中所有文本 */
}

.dropdown-menu11 a:last-child {
  border-bottom: none;
}

.dropdown-menu11 a:hover {
  background-color: #f0f0f0;
}

.filter-item {
  position: relative;
  display: inline-block;
}



.cards-container {
  display: flex; /* 设置 Flexbox */
  flex-wrap: wrap; /* 允许元素换行 */
  gap: 8px; /* 设置元素间距 */
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px; /* 容器内边距 */
}

.card {
  flex: 1 1 200px; /* 每个卡片至少200px宽，但可以增长 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 5px; /* 增加卡片间隔 */
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease;
  margin-bottom: 70px;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 18px;
  text-align: left;
}

.info h3 {
  margin-top: 0;
  margin-bottom: 1px;
  color: #392d6e;
  font-size: 1rem;
}

.info p {
  color: #392d6e;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6e656c;
}

button {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #008050;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 5px;
  font-size: 0.9rem;
}

button:hover {
  background-color: #a6d2c1;
}

/* 媒体查询部分 */
@media (max-width: 768px) {
  .cards-container {
      margin: 0%;
      justify-content: space-around; /* 确保在小屏幕上两列均匀分布 */
  }
  .card {
      margin-bottom: 20px;
      flex: 1 1 40%; /* 在较小屏幕上使每个卡片占据近一半宽度 */
  }
}

@media (min-width: 844px) {
  .cards-container {
      justify-content: space-between; /* 确保在较大屏幕上四个卡片均匀分布 */
  }
  .card {
      flex: 1 1 22%; /* 在较大屏幕上使每个卡片占据四分之一宽度 */
  }
}

/* 默认情况下，显示 footer1 图片，并隐藏 footer2 图片 */
.footer1 {
  width: 100%;
  display: block; /* 确保 footer1 在大屏幕上显示 */
}

.footer2 {
  display: none; /* 默认隐藏 footer2 */
  width: 100%;
}

/* 当屏幕宽度小于等于 1368px 时，仍然只显示 footer1 图片 */
@media (max-width: 1368px) {
  .footer1 {
    display: block; /* 确保 footer1 在中等屏幕上显示 */
  }
  .footer2 {
    display: none; /* 保持 footer2 在这个屏幕尺寸下隐藏 */
  }
}

/* 当屏幔宽度小于等于 390px 时，隐藏 footer1 并显示 footer2 */
@media (max-width: 390px) {
  .footer1 {
    display: none; /* 在小屏幕上隐藏 footer1 */
  }
  .footer2 {
    display: block; /* 在小屏幕上显示 footer2 */
  }
}
