html, body {
  margin: 0;
  margin-right: 0px;
  padding: 0;
  overflow-x: hidden;  
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;  
}


.topbar2 {
    border: 0 solid;
    margin: 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  

  .topbar3 {
    border: 0 solid;
    margin: 0;
    display: none;
    margin-right: 12px;
  }
  
  @media screen and (min-width: 1368px) {
    .topbar3 {
      display: block;
    }
  }

  
  .sign-in {
    display: inline-block;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    cursor: pointer;
    background: transparent;
    border-color: #fff;
    color: #fff;
    padding: 2px 12px;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .sign-in:disabled {
    cursor: not-allowed;
  }
  
  .sign-in:hover {
    background: #fff;
    border-color: #fff;
    color: #392d6e;
  }
  
  .sign-in:disabled {
    background: #ebebed;
    border-color: #ebebed;
    color: #b9b9b9;
  }
  
  @media screen and (min-width: 1368px) {
    .sign-in {
      padding: 10px 16px;
      font-weight: 500;
      letter-spacing: normal;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
    }
  }

.sign-up {
  display: inline-block;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  cursor: pointer;
  background: #008050;
  border-color: #008050;
  color: #fff;
  padding: 2px 12px;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sign-up:disabled {
  cursor: not-allowed;
}

.sign-up:hover {
  background: #54a888;
  border-color: #54a888;
  color: #fff;
}

.sign-up:disabled {
  background: #a6d2c1;
  border-color: #a6d2c1;
  color: #fff;
}

@media screen and (min-width: 1368px) {
  .sign-up {
    padding: 10px 16px;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
  }
}

.sign-up2 {
  border: 0 solid;
  margin: 0;
  display: inline;
}

@media screen and (min-width: 1368px) {
  .sign-up2 {
    display: none;
  }
}


.Choose-recipes {
  border: 0 solid;
  margin: 0;
  display: none;
}

@media screen and (min-width: 1368px) {
  .Choose-recipes {
    display: inline;
  }
}

.title1 {
  border: 0 solid;
  margin: 0;
  margin-bottom: 16px;
}

.title2 {
  border: 0 solid;
  margin: 0;
  background-color: #392d6e;
}

.title3 {
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

  .title-words1 {
    border: 0 solid;
    margin-top: 0;
    text-align: center;
    color: #fff;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-right: 36px;
  }
  
  @media screen and (min-width: 1368px) {
    .title-words1 {
      padding-bottom: 36px;
    }
  }
  
  .title-words2 {
    border: 0 solid;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: 400;
    letter-spacing: -0.3px;
    text-transform: none;
    font-size: 26px;
    line-height: 36px;
  }
  
  @media screen and (min-width: 1368px) {
    .title-words2 {
      font-family: system-ui;
      font-weight: 400;
      letter-spacing: -0.6px;
      text-transform: none;
      font-size: 32px;
      line-height: 44px;
    }
  }

  @media screen and (max-width: 390px) {
    .title-words2 {
      font-weight: 100;
      font-size: 20px;
      letter-spacing: -0.4px;
      line-height: 40px;
      padding-bottom: 2px;
    }
  }
  
.title-words3 {
    border: 0 solid;
    margin: 0;
    color: inherit;
    font-weight: 400;
    text-transform: none;
    font-size: 26px;
    line-height: 36px;
  }
  
  
  @media screen and (max-width: 1368px) {
    .title-words3 {
      font-family: system-ui;
      font-weight: 400;
      letter-spacing: -0.6px;
      text-transform: none;
      font-size: 25px;
      line-height: 44px;
    }
  }

  @media screen and (max-width: 400px) {
    .title-words3 {
      font-size: 18px;
      letter-spacing: -0.4px;
      line-height: 18px;
    }
  }
  
  
  .pineapple11 {
    border: 0 solid;
    margin-top: 20px;
    position: absolute;
    transform: scale(0.6);
    z-index: 3;
    display: none;
    right: 20px;
    transform-origin: center right;
    pointer-events: none;
    width: 93px;
    height: 108px;
  }
  
  @media screen and (min-width: 1368px) {
    .pineapple11 {
      transform: scale(1);
      display: block;
      margin-right: 60px;
      top: -16px;
    }
  }
  

.idk1 {
    border: 0 solid;
    margin: 0;
    position: relative;
  }
  
  .idk2 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 93%;
    background-color: #392d6e;
    z-index: 1;
  }
  
  @media screen and (min-width: 1368px) {
    .idk2 {
      height: 50%;
    }
  }
  
  .idk3 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 7%;
    bottom: 0px;
    background-color: #fcf9ed;
    z-index: 2;
  }
  
  @media screen and (min-width: 1368px) {
    .idk3 {
      height: 50%;
    }
  }

  .idk4 {
    border: 0 solid;
    margin: 0;
    z-index: 2;
    width: 100%;
    top: 91%;
    position: absolute;
  }
  
  @media screen and (min-width: 1368px) {
    .idk4 {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  .idk5 {
    border: 0 solid;
    margin: 0;
    color: #fcf9ed;
    display: block;
  }

  .imgleft-1{
    border: 0 solid;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1236px;
    position: relative;
  }
  
  .imgleft-2 {
    border: 0 solid;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    margin: 0 auto;
    max-width: fit-content;
    position: relative;
    min-height: 230px;
    display: flex;
  }
  
  @media screen and (min-width: 1368px) {
    .imgleft-2 {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-bottom: 40px;
      min-height: 285px;
    }
  }

.imgleft-3 {
    border: 0 solid;
    margin: 0;
    cursor: pointer;
    max-width: 230px;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 2;
    transition: transform ease-in-out 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 1368px) {
    .imgleft-3  {
      max-width: 365px;
    }
  }
  
 
  
  .imgleft-3 :hover {
    transform: scale(1.05);
  }
  

  .imgleft-1p {
    border: 0 solid;
    margin: 0;
    pointer-events: none;
    position: absolute;
    bottom: unset;
    top: 10%;
    left: -10px;
    transform: rotate(25deg);
  }
  
  @media screen and (min-width: 1368px) {
    .imgleft-1p {
      bottom: -30px;
      top: unset;
      left: 50%;
      transform: translateX(-50%) rotate(0deg);
    }
  }

  .imgmiddle-1 {
    border: 0 solid;
    margin: 0;
    cursor: pointer;
    max-width: 230px;
    position: relative;
    margin-top: -100px;
    z-index: 3;
    transition: transform ease-in-out 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 640px) {
    .imgmiddle-1 {
      max-width: 365px;
      margin-left: -100px;
      margin-top: 0px;
    }
  }

  
  .imgmiddle-1:hover {
    transform: scale(1.05);
  }
  
  .imgmiddle-2p {
    border: 0 solid;
    margin: 0;
    pointer-events: none;
    position: absolute;
    bottom: unset;
    top: 20%;
    left: -15px;
    transform: rotate(18deg);
  }
  
  @media screen and (min-width: 1368px) {
    .imgmiddle-2p {
      bottom: -30px;
      top: unset;
      left: 50%;
      transform: translateX(-50%) rotate(0deg);
    }
  }

  .imgright {
    border: 0 solid;
    margin: 0;
    cursor: pointer;
    max-width: 230px;
    position: relative;
    margin-top: -100px;
    z-index: 4;
    transition: transform ease-in-out 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 1368px) {
    .imgright {
      max-width: 365px;
      margin-left: -100px;
      margin-top: 0px;
    }
  }
  
  .imgright:hover {
    transform: scale(1.05);
  }


.imgright-4p {
    border: 0 solid;
    margin: 0;
    pointer-events: none;
    position: absolute;
    bottom: unset;
    left: -15px;
    top: 16%;
    transform: rotate(8deg);
  }
  
  @media screen and (min-width: 1368px) {
    .imgright-4p {
      bottom: -30px;
      left: 50%;
      top: unset;
      transform: translateX(-50%) rotate(0deg);
    }
  }
  

  .imgpart {
    border: 0 solid;
    margin: 0;
    position: absolute;
    bottom: -44px;
    left: 55%;
    width: 120px;
    display: block;
    z-index: 3;
  }
  
  @media screen and (min-width: 1368px) {
    .imgpart {
      bottom: 95%;
      left: 85%;
      width: 144px;
    }
  }
  
  
  /* all elements- homepage */
  .element-vege1 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    transform: scale(0.6);
    z-index: 1;
    display: none;
    left: 10px;
    top: -24px;
    pointer-events: none;
    width: 226px;
    height: 262px;
  }
  
  @media screen and (min-width: 1368px) {
    .element-vege1  {
      transform: scale(0.7);
      display: block;
      top: -8px;
    }
  }
  

.homepage-b8-words {
    border: 0 solid;
    margin: 0;
    color: inherit;
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media screen and (min-width: 1368px) {
    .homepage-b8-words {
      font-family: system-ui;
      font-weight: 500;
      letter-spacing: normal;
      text-transform: none;
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  .homepage-b9 {
    border: 0 solid;
    margin: 0;
    margin-top: 12px;
  }
  
  .homepage-b9-words {
    display: inline-block;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s linear;
    cursor: pointer;
    background: #008050;
    border-color: #008050;
    color: #fff;
    padding: 10px 16px;
    font-family:system-ui;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .homepage-b9-words:disabled {
    cursor: not-allowed;
  }
  
  .homepage-b9-words:hover {
    background: #54a888;
    border-color: #54a888;
    color: #fff;
  }
  
  .homepage-b9-words:disabled {
    background: #a6d2c1;
    border-color: #a6d2c1;
    color: #fff;
  }

  @media screen and (max-width:390px) {
    .homepage-b9-words {
      width:55%;
      font-size: 16px;
      text-align: center;
    }
  }

.homepage-b10-ad {
    border: 0 solid;
    margin: 0;
    margin-top: 8px;
    font-family:system-ui;
    font-weight: 300;
    letter-spacing: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 22px;
  }
  
  .idk6 {
    border: 0 solid;
    margin: 0;
    background-color: #fff;
  }
  
  .idk7 {
    border: 0 solid;
    margin: 0;
    max-height: 65px;
    display: block;
    width: 100%;
    color: #fcf9ed;
    position: relative;
    bottom: 1px;
  }
  
  .idk8 {
    border: 0 solid;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
  }
  
  .idk9 {
    border: 0 solid;
    margin: 0;
    position: relative;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }

.grass22 {
    border: 0 solid;
    margin: 0;
    position: absolute;
    left: -16px;
    bottom: -56px;
    transform: rotate(-40deg) scale(0.6);
    pointer-events: none;
    width: 130px;
    height: auto;
  }
  
  @media screen and (max-width:1368px) {
    .grass22 {
      margin-left: 100px;
      transform: rotate(-40deg) scale(1);
    }
  }

  @media screen and (max-width:390px) {
    .grass22 {
      transform: scale(0.5);
      margin-left: 30px;
    }
  }

.homepage-bottom1 {
    border: 0 solid;
    margin: 0;
    padding-top: 16px;
    background-color: #fcf9ed;
  }
  
  .homepage-bottom2 {
    border: 0 solid;
    margin: 0;
    position: relative;
    z-index: auto;
  }
  
  .homepage-bottom3 {
    border: 0 solid;
    margin: 0;
    background-color: #fcf9ed;
    padding-top: 32px;
    padding-bottom: 0px;
  }

  @media screen and (min-width:390px) {
    .homepage-bottom3 {
      padding-top: 0px;
      padding-bottom: 1px;
    }
  }
  
  .homepage-b4 {
    border: 0 solid;
    margin: 0;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .homepage-b5 {
    border: 0 solid;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  @media screen and (max-width:390px) {
    .homepage-b5 {
      padding-top: 0px;
      padding-left: 0px;
    }
  }
  
  .homepage-b6 {
    border: 0 solid;
    margin: 0;
    font-family:system-ui;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media screen and (max-width:390px) {
    .homepage-b6 {
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  .homepage-b7-words {
    border: 0 solid;
    margin: 0;
    color: #68a25b;
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: none;
    font-size: 20px;
    line-height: 28px;
  }
  
  @media screen and (min-width:1368px) {
    .homepage-b7-words {
      font-size: 22px;
      line-height: 32px;
    }
  }

.element-pineapple3 {
    border: 0 solid;
    margin-left: 90px;
    margin-top: 50px;
    position: absolute;
    z-index: 3;
    display: none;
    pointer-events: none;
    width: 133px;
    height: 154px;
  }
  
  @media screen and (min-width:1368px) {
    .element-pineapple3 {
      transform: scale(.8) rotate(24deg);
      display: block;
      left: -12px;
      top: 48px;
    }
  }
  
  
  .element-vege2 {
    border: 0 solid;
    margin-right: 200px;
    margin-top: 200px;
    position: absolute;
    z-index: 4;
    bottom: 180px;
    right: -86px;
    pointer-events: none;
    width: 163px;
    height: 189px;
    transform: rotate(-85deg) scale(0.8) scaleX(-1);

  }
  

  @media screen and (max-width:1368px) {
    .element-vege2 {
      margin-right: 120px;
    }
  }

  @media screen and (max-width:390px) {
    .element-vege2 {
      transform:scale(0.5);
      margin-right: 15px;
      margin-bottom: -160px;
    }
  }

  
  .element-onion1 {
    border: 0 solid;
    margin-right: 200px;
    margin-top: 210px;
    position: absolute;
    transform: scale(0.6);
    z-index: 3;
    bottom: 160px;
    right: 5px;
    pointer-events: none;
    width: 113px;
    height: 131px;
  }
  
  @media screen and (max-width:1368px) {
    .element-onion1 {
     margin-right: 120px;
     transform: scale(1);
    }
}

@media screen and (max-width:390px) {
    .element-onion1 {
    width: 30%;
    height: auto;
    margin-right: -40px;
    bottom: -10px;
    transform: scale(0.6); 
    }
}




  .homepage-part2-words {
        color: #392D60; 
        font-family: system-ui; 
        font-size: 24px; 
        font-weight: bold; 
        line-height: 1.2; 
        margin-top: 50px;
        padding: 0px 36px; 
        text-align: center;
    }

    @media screen and (max-width:390px) {
      .homepage-part2-words  {
        font-size: 16px; 
      }
  }
  
    
  .homepage-part2-image {
    margin-top: 50px;
    text-align: center;
}

.homepage-part2-image1 {
    width: 100%; 
    height: auto; 
}

@media screen and (max-width: 1368px) {
  .homepage-part2-image1 {
      width: 50%;
  }
}

@media screen and (max-width: 390px) {
    .homepage-part2-image {
        width: 100%;
        margin-top: 20px;
    }
}

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #392d6e;
        color: #ffffff;
        height: 50px;
      }

    .menu-icon {
      display: none; 
      font-size: 30px;
      cursor: pointer;
      color: white;
  }
  
  @media (max-width: 390px) {
      .menu {
          display: none;
      }
  
      .menu-icon {
          display: block; 
      }
  
      .popup222 {
          display: none; 
          position: absolute;
          background-color: white;
          color: black;
          width: 150px;
          border-radius: 20px;
          z-index: 1000;
          margin-top: 7px; 
          margin-left: -10px; 
          box-shadow: 0 4px 8px rgba(0,0,0,0.8);  
      }

      .popup222 a{
        margin-left: 0%;
        padding: 10px 15px;
        display: block;
        text-decoration: none;
        color: black; 
        border-bottom: 1px solid #ccc;
        text-align: center; 
      }
  }
    
    .menu a,
    .actions a {
        color: white;
        text-decoration: none;
        margin-left: 30px;
        font-size: 1.2em;
        position: relative;
    }
    
    .actions .signin {
        margin-right: 10px;
    }
    
    .choose-recipes {
        padding: 8px 16px;
        background-color: #4CAF50;
        border-radius: 20px;
        color: white;
    }
    
    .dropdown-menu {
      display: none; 
      position: absolute;
      background-color: white;
      color: black;
      width: 150px;
      border-radius: 20px;
      z-index: 1000;
      margin-top: 7px; 
      margin-left: 15px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.8);
      
  }
  
  .dropdown-menu a {
    margin-left: 0%;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: black; 
    border-bottom: 1px solid #ccc;
    text-align: center; 
  }
  
  .dropdown-menu a:hover {
      background-color: #f1f1f1; 
  }
  
  .arrow{
    width:20px;
    height: auto;
  }

  

.category {
    display: block; 
    padding: 5px 0; 
}

.menu a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.responsive-img {
    width: 100%;
    height: auto;
}

@media (max-width: 390px) {
    .responsive-img {
        width: 70%;
      
    }
}

@media (max-width: 390px) {
  .responsive1person{
      width: 12%;
      margin-top: 15px;
      margin-left: 55px;
  }
}

@media (max-width: 390px) {
  .responsive2person{
      width: 20%;
      margin-top: 8px;
      margin-left: 55px;
  }
}

@media (max-width: 390px) {
  .responsive4person{
      width: 24%;
      margin-top: 10px;
      margin-left: 55px;
  }
}

@media screen and (max-width: 390px) {
    .imgleft-3,
    .imgmiddle-1,
    .imgright {
        margin-left: auto;
        margin-right: auto;
    }

    .imgleft-2,
    .imgleft-3,
    .imgmiddle-1,
    .imgright {
        width: 90%;
        max-width: 90%;
    }
}


.filter-item {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer; 
}

.filter-item i.fa {
  margin: 0 5px;
}

.filter-item span {
  margin-right: 5px;
}

.dropdown-menu11 {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  margin-top: 10px;
  padding: 5px 0;
  width: 150px; 
  z-index: 1000;
  border-radius: 20px;
}

.dropdown-menu11 a {
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ccc;
  text-align: center; 
}

.dropdown-menu11 a:last-child {
  border-bottom: none;
}

.dropdown-menu11 a:hover {
  background-color: #f0f0f0;
}

.filter-item {
  position: relative;
  display: inline-block;
}



.cards-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 8px; 
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px; 
}

.card {
  flex: 1 1 200px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 5px; 
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease;
  margin-bottom: 70px;
  width: 100%;
}


.card1 {
  flex: 1 1 200px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 5px; 
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease;
  margin-bottom: 70px;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 18px;
  text-align: left;
}

.info h3 {
  margin-top: 0;
  margin-bottom: 1px;
  color: #392d6e;
  font-size: 1rem;
}

.info p {
  color: #392d6e;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6e656c;
}

button {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #008050;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 5px;
  font-size: 0.9rem;
}

button:hover {
  background-color: #a6d2c1;
}


@media (max-width: 390px) {
  .cards-container {
      margin: 0%;
      justify-content: space-around;
  }
  .card {
      margin-bottom: 20px;
      flex: 1 1 40%;
  }
}

@media (min-width: 1368px) {
  .cards-container {
      justify-content: space-between; 
  }
  .card {
      flex: 1 1 22%; 
  }
}

.footer1 {
  width: 100%;
  display: block; 
}

.footer2 {
  display: none;
  width: 100%;
}

@media (max-width: 1368px) {
  .footer1 {
    display: block; 
  }
  .footer2 {
    display: none; 
  }
}

@media (max-width: 390px) {
  .footer1 {
    display: none; 
  }
  .footer2 {
    display: block; 
  }
}


.highlight-text {
  font-size: 1.5rem;
  font-weight: bold; 
  text-align: center;
  margin-top: 50px;
}

.highlight-text .highlight1 {
  color: #392d6e; 
}

.highlight-text .highlight2 {
  color: #6eac5d; 
}

.quantity_frame, .add-to-cart {
  pointer-events: none;
}

  