body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1; /* 使container占据剩余空间 */
}

.back-link a {
    text-decoration: none;
    color: #392d6e;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.add-card, .payment_details {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.add-card-section {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

h2 {
    color: #392d6e;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #858484;
    width: 100%;
}

.input-group input {    
    background-color: #e8e8e8;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0;
}

button {
    background: #008050;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    align-content: center;
}

.card-preview {
    text-align: center;
    margin-bottom: 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-preview img {
    max-width: 370px;
    border-radius: 10px;
    padding-right: 7px;
}

/* Vertical Line */
.vertical_line {
    width: 1px;
    background-color: #656565;
    height: auto;
    align-self: stretch;
    gap: 20px;
}

.payment_methods, .address, .contact {
    margin-bottom: 20px;
}

.payment_method, .address_details, .contact_details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #008050;
    padding: 10px;
    border-radius: 10px;
}

.payment_method input, .address_details input, .contact_details input {
    display: none;
}

.card_icon, .home_icon, .contact_icon {
    width: 30px;
    height: 30px;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin-right: 10px;
}

.payment_label, .address_label, .contact_label {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .add-card {
        width: 65%;
    }
    
    .payment_details {
        width: 30%;
    }

    .add-card {
        order: 1;
        width: 65%;
    }

    .card-preview {
        order: 2;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-preview img {
        height: auto;
        width: 100%;
    }

    .vertical_line {
        display: block;
    }

    .payment_details {
        order: 3;
    }
}

@media (max-width: 844px) {
    .container {
        flex-direction: column;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .add-card-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .card-preview {
        order: 1;
        margin-bottom: 20px;
        width: 100%;
        height: 280px;
        padding: 0;
    }

    .add-card {
        order: 2;
        width: 100%;
        padding: 0;
    }
    
    .vertical_line {
        display: none;
    }

    .payment_details {
        display: none;
    }
}

/* By Default, footer1 images are shown and footer2 images are hidden */
.footer1 {
    width: 100%;
    display: block; /* Ensure that footer1 is displayed on the big screen */
}
  
.footer2 {
    display: none; /* Hide footer2 by default */
    width: 100%;
}
  
/* When the screen width is less than or equal to 1368px, only the footer1 image will still be displayed. */
@media (max-width: 1368px) {
    .footer1 {
        display: block; /* Make sure footer1 is displayed on the medium screen */
    }
    .footer2 {
        display: none; /* Keep footer2 hidden at this screen size. */
    }
}
  
/* Hide footer1 and show footer2 when the screen mantle width is less than or equal to 390px. */
@media (max-width: 390px) {
    .footer1 {
        display: none; /* Hide footer1 on small screens */
    }
    .footer2 {
        display: block; /* Display footer2 on a small screen */
    }
}
  
.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 20px;
    background-color: #392d6e;
    color: #ffffff;
    height: 50px;
    gap: 10px;
}
  
.menu-icon {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    color: white;
}
  
@media (max-width: 390px) {
    .menu {
        display: none; 
    }

    .menu-icon {
        display: block; 
    }

    .popup222 {
        display: none; 
        position: absolute;
        background-color: white;
        color: black;
        width: 150px;
        border-radius: 20px;
        z-index: 1000;
        margin-top: 7px; 
        margin-left: -10px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.8);  
    }

    .popup222 a {
        margin-left: 0%;
        padding: 10px 15px;
        display: block; 
        text-decoration: none;
        color: black; 
        border-bottom: 1px solid #ccc;
        text-align: center; 
    }
}
  
.menu a,
.actions a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.2em;
    position: relative; 
}
  
.actions .signin {
    margin-right: 10px;
}
  
.choose-recipes {
    padding: 8px 16px;
    background-color: #4CAF50;
    border-radius: 20px;
    color: white;
}
  
.dropdown-menu {
    display: none; 
    position: absolute;
    background-color: white;
    color: black;
    width: 150px;
    border-radius: 20px;
    z-index: 1000;
    margin-top: 7px; 
    margin-left: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}
  
.dropdown-menu a {
    margin-left: 0%;
    padding: 10px 15px;
    display: block; 
    text-decoration: none;
    color: black; 
    border-bottom: 1px solid #ccc;
    text-align: center; 
}
  
.dropdown-menu a:hover {
    background-color: #f1f1f1; 
}
  
.arrow {
    width:20px;
    height: auto;
}
  
@media (max-width: 390px) {
    .atlaslogo {
        width: 175px;
    }
}

.body-no-scroll {
    overflow: hidden;
    height: 100%; 
    width: 100%;
    position: fixed;
}
  
.popup {
    display: none;
    position: fixed;
    top: 0%; 
    left: 50%;
    margin-left: 180px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    color: black;
    width: 460px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 20px;
}
  
.pop-card {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 20px;
    background: white;
    border-radius: 20px;
}
  
.pop-card img {
    width: 40%;
    height: auto;
}
  
.pop-info {
    flex: 1;
    padding: 20px;
    text-align: left;
}
  
.pop-info h3 {
    margin-bottom: 10px;
    color: #333;
}
  
.pop-info button {
    padding: 5px 5px;
    background-color: #008050;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}
  
.overlay {
    display: none;
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999; 
}
  
@media (max-width: 390px) {
    .popup {
        margin-left: 0; 
        left: 60px;
        width: 80%;
        max-width: none;
        padding: 5px; 
    }

    .pop-card {
        width: 90%;
    }

    .pop-card img {
        width: 45%; 
    }

    .pop-info {
        text-align: center; 
    }
}
