body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #392d6e;
    color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header-img {
    width: 150px;
    height: 150px;
}

footer {
    background-color: #392d6e;
    color: #ffffff;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 20px;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

/* Your Order */
.your_order {
    width: 50%;
    padding-left: 40px;
}

h2 {
    color: #392d6e;
}

/* Item List */
.item_list {
    width: 100%;
    height: auto;
}

/* Item */
.item {
    display: flex;
    gap: 20px;
    height: 100px;
    width: 100%;
    align-items: flex-start;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.item_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: calc(100% - 120px); 
}

.item_name {
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 100%;
    margin-bottom: auto; 
}

.item_img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    align-self: flex-start;
}

.item_divider {
    border-top: 1px solid #e8e8e8;
    margin: 10px 0;
}

/* Quantity and Price */
.quantity_price_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end;
    width: 100%;
}

.price {
    color: #008050;
    font-weight: bold;
    font-size: 16px;   
    align-self: center;
}

.quantity_edit {
    display: flex;
    align-items: center;
    gap: 5px; 
    justify-content: flex-end;
}

.quantity_frame {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 5px; 
    font-size: 15px;
    width: 60px; 
    height: 20px;
    gap: 5px; 
}

.minus_button, .plus_button {
    background-color: #e8e8e8;
    color: #aeaeae;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 12.5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus_button {
    background-color: #008050;
    color: #ffffff;
}

/* Vertical Line */
.vertical_line {
    width: 1px;
    background-color: #656565;
    height: 100%;
    align-self: stretch;
}

/* Order Detail & Payment Detail */
.order_payment_details {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.order_details, .payment_details {
    margin-bottom: 20px;
}

.order_detail {
    border: 1px solid #e8e8e8;
    padding: 20px;
    border-radius: 10px;
}

.order_summary {
    margin-bottom: 10px;
}

.order_item {
    display: flex;
    justify-content: space-between;
    color: #8f92a1;
    font-size: 14px;
    margin-bottom: 10px;
}

.detail_item_name {
    font-size: 14px;
    text-align: start;
    width: 300px;
}

.divider_line {
    border-top: 1px solid #e8e8e8;
    margin: 10px 0;
}

.order_total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.payment_methods, .address, .contact {
    margin-bottom: 10px;
}

.add_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add_button {
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
    background-color: #ffffff;
    color: #999999;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.payment_method, .address_details, .contact_details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1.5px solid #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    transition: border-color 0.15s;
}

.payment_method input:checked + .payment_label, 
.address_details input:checked + .address_label, 
.contact_details input:checked + .contact_label {
    border-color: #008050;
}

.payment_method input, .address_details input, .contact_details input {
    display: none;
}

.card_icon, .home_icon, .contact_icon {
    width: 30px;
    height: 30px;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin-right: 10px;
}

/* Adjust payment, address, and contact labels to be in one row */
.payment_label, .address_label, .contact_label {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust gap as needed */
}

/* Fixed Checkout Bar */
.checkout_bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #dee2e6;
    box-shadow: 0 -1px 3px #404040;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.checkout_price {
    font-size: 24px;
    font-weight: bold;
    color: #392d6e;
}

.checkout_divider_line {
    height: 60px;
    width: 1px;
    background-color: #000000;
    margin: 0 20px;
}

.checkout_button {
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    background-color: #008050;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 844px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .vertical_line {
        display: none;
    }
    .your_order, .order_payment_details {
        width: 100%;
        padding: 0;
    }
    .checkout_bar {
        position: fixed;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
        height: auto;
        width: 100%;
    }
    .checkout_price {
        font-size: 24px;
        font-weight: bold;
        color: #392d6e;
        margin-bottom: 10px;
    }
    .checkout_button {
        width: calc(100% - 40px); /* full width with padding */
        margin: 10px 0;
    }
    .checkout_divider_line {
        display: block;
        width: 80%;
        height: 1px;
        background-color: #000000;
    }
}
